*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 225px;
  border-radius: 6px;
}

/* .row {
  display: inline-block;
} */

.filter {
  /* float: left; */
 /*  width: 15%; */
  flex: 25%;
  border-radius: 6px;
  background-color:white;
}

.dash {
  width: 82%;
  /* float: right; */
  /* overflow: visible; */
  background-color: lightgrey;
  flex: 25%;
}

.row {
  float: left;
}

a {
  margin: 2px;
}

.filterHeader {
  /* background-color: blue; */
  text-align: left;
  margin-left: 11px;
}


@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column;
  }
  .filter {
    width: 219px;
    margin-left: 21.5%;
  }

  .dash {
    margin-left: 20%;
    width: 222px;
  }
  #yrLaunch {
    margin-right: 26px;
    margin-left: 20px;
    margin-top: 7px;
  }
  .scsLnch, .lnScs {
    width: 204px;
    margin-left: 3%;
  }
  #launchSuccess, #landingSuccess {
    margin-left: 14px;
    margin-right: 21px;
  }
  .mainHeader {
    width: 200px;
    /* background-color: yellow; */
    margin-left: 19%;
    /* text-align: left; */
    font-size: 29px;
}
  .card {
    margin-bottom: -7px;
    width: 110%;
    margin-left: -5%;
  }
}


@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .filter {
    flex: 50%;
    /* float: left; */
    margin-top: 8px;
    /* margin-left: 7px; */
    height: 550px;
    margin-top: 14px;
  }
  .dash {
    flex: 50%;
    margin-top: 14px;
  }
  .mainHeader{
    width: 100%;
    height:20px
  }
  #yrLaunch {
    margin-right: 35px;
    margin-left: 1px;
    text-align:left;
}
.launchYr {
  width: 262px;
  margin-left: 20%;
}
.scsLnch, .lnScs {
  width: 262px;
  margin-left: 20%;
}
#launchSuccess, #landingSuccess {
  margin-right: 37px;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .filter {
    flex: 25%;
    margin-top: 14px;
    height: 550px;
  }
  .dash {
    flex: 75%;
    margin-top: 14px;
  }
  .mainHeader {
    height: 20px;
    width: 100%;
    text-align: left;
  }
  .launchYr {
    margin-left: 21%;
   /*  background-color: yellow; */
    width: 191px;
  }
  #yrLaunch {
    margin-right: 29px;
    margin-left: 4px;
  }
  #launchSuccess, #landingSuccess {
    margin-left: 4px;
    margin-right: 23px;
}
.scsLnch, .lnScs {
  width: 191px;
  margin-left: 21%;
}
}

@media only screen and (min-width: 1440px) {
  .filter, .dash {
    flex: 100%;
    width:1440px;
  }
  .App {
    text-align: center;
    max-width: 1440px;
  }
}